TELEGRAM_BOT_TOKEN=8241999992:AAEvv3SDYxqr49WUsDdEGaG6BfiMVoAH3Dk
TELEGRAM_CHAT_ID=6439096378
WEB_USERNAME=ely
WEB_PASSWORD=Jumong09
BINANCE_API_KEY=
BINANCE_API_SECRET=
PAPER_FEE_RATE=0.001
PAPER_SLIPPAGE_RATE=0.0005
PAPER_SPREAD_RATE=0.0002
PAPER_ORDER_LATENCY_MS=0
